/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}

/* Reset CSS */
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.3em;
}
input, button, textarea {
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Common CSS */
.inner {
  width: 1300px;
  margin: auto;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  transition: 0.5s;
  z-index: 10000;
}
.lnb {
  width: 1300px;
  margin: auto;
  text-align: right;
}
.lnb a {
  color: #ddd;
  margin: 10px;
}
.lnb a:last-child {
  margin: 0;
}
.lnb a em {
  color: #bbb;
}

nav {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo img {max-width: 53px; height: auto;}
.gnb {
  display: flex;
}
.gnb li a {
  margin: 20px;
  color: #fff;
}
.gnb li a:hover {
  color: #333;
}
.gnb li a:last-child {
  margin-right: 0;
}

.trigger {
  display: none;
}

/* Header with active class */
header.active {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
header.active .gnb li a {
  color: #000;
}
header.active .banner {
  height: 0;
  overflow: hidden;
}
header.active nav {
  padding-bottom: 20px;
}

.gototop {
  background: linear-gradient(45deg, #00b894, #55efc4);
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: -20px;
  opacity: 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}
.gototop.active {
  bottom: 20px;
  opacity: 1;
}

/* Intro */
.intro {
  height: 100vh;
  background: url(images/intro.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.heading {
  color: #fff;
  text-align: center;
}
.heading h1 {
  font-size: 70px;
  margin-bottom: 40px;
}
.heading h1 span {
  display: inline-block;
  letter-spacing: -20px;
}
.heading h1 span.whitespace {
  margin-right: 20px;
}
.heading h1 span.bundle {
  display: block;
  letter-spacing: -2px;
}
.heading p {
  font-size: 22px;
  line-height: 1.5em;
  padding: 0 150px;
  word-break: keep-all;
}

/* About Section */
.about-content {
  display: flex;
  padding: 130px 0;
}
.about-content div {
  text-align: center;
  padding: 20px;
}
.photo, .left-desc, .right-desc {
  flex: 1;
}
.photo img {
  max-width: 393px;
  width: 100%;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}
.about-content h2 {
  font-size: 30px;
  margin: 30px 0 10px 0;
}
.left-desc ul li {
  font-size: 16px;
  line-height: 1.5em;
  word-break: keep-all;
}
.right-desc ul {
  display: flex;
  justify-content: space-around;
  font-size: 0;
}
.right-desc ul + ul {
  margin-top: 10px;
}
.right-desc ul li {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #eee;
  border-radius: 28%;
  margin-right: 15px;
}
.right-desc ul li.empty {
  background-color: transparent;
}
.right-desc .hidden {
  overflow: hidden;
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}
.right-desc .show {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  padding: 5% 10%;
  border: 1px solid #20c997;
  background-color: #fff;
  font-size: 13px;
  font-weight: 300;
  color: #20c997;
  z-index: 10;
}
.right-desc ul .html {
  background-image: url("images/logo_html5.png");
}
.right-desc ul .css {
  background-image: url("images/logo_css3.png");
}
.right-desc ul .js {
  background-image: url("images/logo_js.png");
}
.right-desc ul .jquery {
  background-image: url("images/logo_jquery.png");
}
.right-desc ul .bootstrap {
  background-image: url("images/logo_bootstrap.png");
  background-size: 70%;
}
.right-desc ul .vscode {
  background-image: url("images/logo_vscode.png");
}
.right-desc ul .photoshop {
  background-image: url("images/logo_photoshop.png");
}
.right-desc ul .sourcetree {
  background-image: url("images/logo_sourcetree.png");
}
.right-desc ul .zeplin {
  background-image: url("images/logo_zeplin.png");
}
.right-desc ul .sketch {
  background-image: url("images/logo_sketch.png");
  background-size: 70%;
}
.right-desc ul .figma {
  background-image: url("images/logo_figma.png");
  background-size: 80%;
}

/* Work Detail Section */
.before-btn {
    background: linear-gradient(45deg, #00b894, #55efc4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    transition: 0.5s;
    transform: rotate(-90deg);
}
.work-detail {
  background-color: #f8f8f8;
}
.detail-content {
  max-width: 800px;
  padding: 100px 0;
  margin: 0 auto;
}
.detail-content h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 20px 0;
  font-weight: 600;
}
.detail-content h5 {
  font-size: 28px;
  line-height: 1.6em;
}
.detail-content ul { 
  font-size: 18px;
  line-height: 1.6em;
  margin: 15px 0;
}
.detail-content .red {
  font-size: 16px;
  line-height: 1.4em;
  color: #e60012;
  margin-top: 15px;
}
.btn-explore {
  color: #333;
}
.btn-explore img {
  margin-left: 5px;
  transition: all 0.3s;
}
.btn-explore:hover img {
  margin-left: 15px;
}
.img-wrap {
  text-align: center;
  margin-top: 30px;
}
.img-wrap img {
  width: 100%;
}
.img-wrap img + img {
  margin-top: 15px;
}
.img-wrap .img-m {
  max-width: 400px;
}
.img-wrap object {
  width: 100%;
  height: 6051px;
}

/* Contact Section */
.contact {
  height: 270px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-heading {
  text-align: center;
}
.contact-heading h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact-heading h3 span {
  font-weight: 500;
}
.btns a {
  background-color: #fff;
  width: 200px;
  display: inline-block;
  padding: 6px;
  border-radius: 5px;
  margin: 5px;
  font-weight: 400;
  font-size: 16px;
}
.btns a:nth-child(1) {
  background-color: #fac53b;
  color: #fff;
}
.btns a:nth-child(2) {
  background-color: #ededed;
  color: #333;
}

/* Footer */
footer {
  text-align: center;
  background-color: #000;
  padding: 30px 0;
}
.footer-content span {
  color: #eee;
  font-weight: 300;
}

/* work Section */
.work-content {
  position: relative;
  padding: 100px 0;
}
.work-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.badge {
  color: #fff;
  padding: 2px 10px;
  font-size: 16px;
}
.badge.must {
  background-color: #e60012; 
}
.badge.good {
  background-color: #00a0e9;
}

.mySwiper {
	display: flex;
	flex-grow: 1;
	position: relative;
}
.swiper-slide {
  position: relative;
	display: flex;
	flex-grow: 1;
  align-items: center;
  justify-content: space-between;
	padding: 42px 0 30px;
}
.swiper-slide .main-title {
  font-family: "EB Garamond", serif;
  font-size: 100px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
  transition-delay: 0.3s;
}
.swiper-slide .main-content .main-content__title {
  font-size: 26px;
  font-family: "EB Garamond", serif;;
  font-style: italic;
  line-height: normal;
  margin-bottom: 14px;
  transition-delay: 0.2s;
}
.swiper-slide .main-content .more-menu {
  font-size: 13px;
  font-weight: 500;
  color: #2c2d2a;
  display: flex;
  align-items: center;
  transition-delay: 0.4s;
}
.swiper-slide .main-content .more-menu svg {
  width: 28px;
  height: 18px;
  margin-left: 10px;
  transition: all 0.3s;
}
.swiper-slide .main-content .more-menu:hover svg {
  margin-left: 20px;
}
.swiper-slide .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-slide .center {
	display: flex;
	position: relative;
	flex-shrink: 0;
}
.swiper-slide .center .bottle-bg {
  max-width: 850px;
  width: 30vw;
  object-fit: cover;
  border-radius: 40% 60% 65% 35% / 40% 55% 35% 66%;
}
.swiper-slide .center .bottle-img {
  position: absolute;
  top: 25%;
  left: 0;
  transform: scale(1.6);
}

.swiper-pagination {
	position: absolute;
	right: 30px;
	left: auto;
	top: 100px;
	width: auto;
	bottom: auto;
	z-index: 2;
	font-size: 14px;
	font-weight: 500;
}
.button-wrapper {
	position: absolute;
	right: 30px;
	bottom: 20px;
	z-index: 1;
	display: flex;
	align-items: center;
}
.button-wrapper svg {
  width: 28px;
}
.button-wrapper .swiper-button {
  border: 1px solid #2c2d2a;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #2c2d2a 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.swiper-button:hover {
  background-color: #2c2d2a;
  background-position: left bottom;
}
.swiper-button:hover svg {
  stroke: #fff;
}
.button-wrapper .swiper-prev-button {
  background: linear-gradient(to left, #2c2d2a 50%, transparent 0%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}
.button-wrapper .swiper-prev-button svg {
  transform: rotate(-180deg);
}
.button-wrapper .swiper-prev-button:hover {
  background-position: right bottom;
}
.button-wrapper .swiper-button + .swiper-button {
  margin-left: 16px;
}


.swiper-slide {
	opacity: 0 !important;
	transition: 0.4s;
}
.swiper-slide-active {
  opacity: 1 !important;
}
.swiper-slide .main-wrapper > *,
.swiper-slide .main-content > * {
	transform: translateY(-30px);
	opacity: 0;
	transition-duration: 0.8s;
}
.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .main-content > * {
	transform: none;
	opacity: 1;
}
.swiper-slide .bottle-bg {
	transition-duration: 0.6s;
	opacity: 0;
	object-position: 60%;
}
.swiper-slide-active .bottle-bg {
	opacity: 1;
	transform: none;
	object-position: 50%;
}
.swiper-slide .bottle-img {
	transition-duration: 0.8s;
	transform: scale(1.2);
	opacity: 0;
}
.swiper-slide-active .bottle-img {
	opacity: 1;
	transform: scale(1.6);
}

.work {
  background-color: #C2E1FE;
}

[data-sld="0"] {
	background-color: #C2E1FE;
}
[data-sld="1"] {
	background-color: #3EC2D7;
}
[data-sld="2"] {
	background-color: #FFABBA;
}
[data-sld="3"] {
	background-color: #FCBB79;
}
[data-sld="4"] {
	background-color: #FE9907;
}
[data-sld="5"] {
	background-color: #A8AEB1;
}
[data-sld="6"] {
	background-color: #6D5947;
}


