/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}

/* Reset CSS */
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.3em;
}
input, button, textarea {
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Common CSS */
.inner {
  width: 1300px;
  margin: auto;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  transition: 0.5s;
  z-index: 10000;
}
.lnb {
  width: 1300px;
  margin: auto;
  text-align: right;
}
.lnb a {
  color: #ddd;
  margin: 10px;
}
.lnb a:last-child {
  margin: 0;
}
.lnb a em {
  color: #bbb;
}

nav {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo img {max-width: 53px; height: auto;}
.gnb {
  display: flex;
}
.gnb li {}
.gnb li a {
  margin: 20px;
  color: #fff;
}
.gnb li a:hover {
  color: #333;
}
.gnb li a:last-child {
  margin-right: 0;
}

.trigger {
  display: none;
}

/* Header with active class */
header.active {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
header.active .gnb li a {
  color: #000;
}
header.active .banner {
  height: 0;
  overflow: hidden;
}
header.active nav {
  padding-bottom: 20px;
}

.gototop {
  background: linear-gradient(45deg, #00b894, #55efc4);
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: -20px;
  opacity: 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}
.gototop.active {
  bottom: 20px;
  opacity: 1;
}


/* Intro */
.intro {
  height: 100vh;
  background: url(images/intro.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.heading {
  color: #fff;
  text-align: center;
}
.heading h1 {
  font-size: 70px;
  margin-bottom: 40px;
  word-break: keep-all;
}
.heading p {
  font-size: 22px;
  line-height: 1.5em;
  padding: 0 150px;
  word-break: keep-all;
}

/* About Section */
.about-content {
  display: flex;
  padding: 130px 0;
}
.about-content div {
  text-align: center;
  padding: 20px;
}
.photo, .left-desc, .right-desc {
  flex: 1;
}
.photo img {
  max-width: 393px;
  width: 100%;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}
.about-content h2 {
  font-size: 30px;
  margin: 30px 0 10px 0;
}
.left-desc ul li {
  font-size: 16px;
  line-height: 1.5em;
  word-break: keep-all;
}
.right-desc ul {
  font-size: 0;
}
.right-desc ul li {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #eee;
  border-radius: 28%;
  margin-right: 15px;
}
.right-desc .hidden {
  overflow: hidden;
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}
.right-desc .show {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  padding: 5% 10%;
  border: 1px solid #20c997;
  background-color: #fff;
  font-size: 13px;
  font-weight: 300;
  color: #20c997;
  z-index: 10;
}
.right-desc ul .html {
  background-image: url("images/logo_html5.png");
}
.right-desc ul .css {
  background-image: url("images/logo_css3.png");
}
.right-desc ul .js {
  background-image: url("images/logo_js.png");
}
.right-desc ul .jquery {
  background-image: url("images/logo_jquery.png");
}
.right-desc ul .bootstrap {
  background-image: url("images/logo_bootstrap.png");
  background-size: 70%;
}
.right-desc ul .vscode {
  background-image: url("images/logo_vscode.png");
}
.right-desc ul .photoshop {
  background-image: url("images/logo_photoshop.png");
}
.right-desc ul .sourcetree {
  background-image: url("images/logo_sourcetree.png");
}
.right-desc ul .zeplin {
  background-image: url("images/logo_zeplin.png");
}
.right-desc ul .sketch {
  background-image: url("images/logo_sketch.png");
  background-size: 70%;
}

/* work Section */
.work {
  background-color: #f8f8f8;
}
.work-content {
  padding: 100px 0;
}
.work-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.item {
  width: 390px;
  height: 600px;
  border-radius: 30px 0 30px 0;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin: 0 20px;
}
.up-image {
  width: 100%;
  height: 285px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.up-image.omron {
  background-image: url('images/slide/omron.jpg');
}
.up-image.root {
  background-image: url('images/slide/root.jpg');
}
.up-image.jt {
  background-image: url('images/slide/jt.jpg');
}
.up-image.ips {
  background-image: url('images/slide/ips.jpg');
}
.up-image.lotte {
  background-image: url('images/slide/lotte.jpg');
}
.up-image.genesis {
  background-image: url('images/slide/genesis.jpg');
}
.down-desc {
  padding: 25px;
  padding-top: 50px;
}
.down-desc h3 {
  font-size: 22px;
  margin: 15px 0;
  /*letter-spacing: -1px;*/
}
.down-desc p {
  font-size: 16px;
}
.btn-explore {
  color: #c25a3a;
  font-weight: 500;
}
.btn-explore img {
  transition: 0.3s;
}
.btn-explore:hover img {
  /*transform: translateX(15px);*/
  margin-left: 15px;
}
.badge {
  color: #fff;
  padding: 2px 10px;
  font-size: 16px;
}
.badge.must {
  background-color: #e60012; 
}
.badge.good {
  background-color: #00a0e9;
}

/* Work Detail Section */
.before-btn {
    background: linear-gradient(45deg, #00b894, #55efc4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    transition: 0.5s;
    transform: rotate(-90deg);
}
.work-detail {
  background-color: #f8f8f8;
}
.detail-content {
  max-width: 800px;
  padding: 100px 0;
  margin: 0 auto;
}
.detail-content h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 20px 0;
  font-weight: 600;
}
.detail-content h5 {
  font-size: 28px;
  line-height: 1.6em;
}
.detail-content ul { 
  font-size: 18px;
  line-height: 1.6em;
  margin: 15px 0;
}
.detail-content .red {
  font-size: 16px;
  line-height: 1.4em;
  color: #e60012;
  margin-top: 15px;
}
.btn-explore img {
  margin-left: 5px;
}
.img-wrap {
  text-align: center;
  margin-top: 30px;
}
.img-wrap img {
  width: 100%;
}
.img-wrap img + img {
  margin-top: 15px;
}
.img-wrap .img-m {
  max-width: 400px;
}
.img-wrap object {
  width: 100%;
  height: 6051px;
}

/* Contact Section */
.contact {
  height: 270px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-heading {
  text-align: center;
}
.contact-heading h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact-heading h3 span {
  font-weight: 500;
}
.btns a {
  background-color: #fff;
  width: 200px;
  display: inline-block;
  padding: 6px;
  border-radius: 5px;
  margin: 5px;
  font-weight: 400;
  font-size: 16px;
}
.btns a:nth-child(1) {
  background-color: #fac53b;
  color: #fff;
}
.btns a:nth-child(2) {
  background-color: #ededed;
  color: #333;
}

/* Footer */
footer {
  text-align: center;
  background-color: #000;
  padding: 30px 0;
}
.footer-content span {
  color: #eee;
  font-weight: 300;
}

/* 
  슬릭 슬라이더의 버튼이 모바일 화면에서 미세하게 좌우로 위치해서 미세한 가로스크롤이 생깁니다. 이걸 방지하는 방법은 아래의 코드를 넣어주면 됩니다. 모바일에서 드래그를 하면 편하기 때문에 슬릭 슬라이더 버튼을 사용하지 않아도 됩니다. display: none 을 넣기 전에 border를 그려보시면 이해가 쉬우실 거에요. 물론 슬릭 슬라이더 버튼을 모바일에서 사용할거면 좌우 버튼을 안쪽으로 넣어주시면 됩니다.
*/

/* Slick.js */
button.slick-arrow {
  /* border: 1px solid #000; */
  display: none !important;
}



