<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <title>퍼블리셔 조아라 포트폴리오</title>
  <script src="../js/jquery-3.5.1.min.js"></script>
  <!-- Slick.js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- Sliding jQuery -->
  <!--<script src="js/jquery.scrollTo.min.js"></script>-->
  <script src="../js/custom.js"></script>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../responsive.css">
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a class="before-btn" href="../index.html#work"><i class="fa fa-angle-up"></i></a>
      </nav>
    </header>
    
    <section class="work-detail" id="genesis">
      <div class="inner">
        <div class="detail-content">
            <h2>제네시스</h2>
            <h5>제네시스 2.0 PHASE 2 온라인 플랫폼 중동 ROLLOUT</h5>
            <ul>
                <li>2021 08 오픈</li>
                <li>제네시스 웹사이트 UI/UX 개편 퍼블리싱 참여.</li>
                <li>중동 전체 지역에서 사용가능한 RTL 템플릿, 컴포넌트뿐만 아니라 글로벌 스탠다드 템플릿, 컴포넌트로 활용 가능하도록 LTR도 제작.</li>
                <li>중동 6개 국가, 9개 사이트로 Rollout.</li>
            </ul>
            <a class="btn-explore" href="https://www.genesis.com/middleeast/ar/main.html" target="_blank">GO TO SITE<img src="../images/icon-arrow.png"></a>
            <div class="img-wrap">
                <img src="../images/slide/genesis_1.jpg" alt="제네시스">
                <img src="../images/slide/genesis_2.jpg" alt="제네시스">
                <img class="img-m" src="../images/slide/genesis_m.jpg" alt="제네시스">
            </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="inner">
        <div class="footer-content">
          <span>Copyright ©  2023 CodingWorks. All rights reserved.</span>
        </div>
      </div>
    </footer>
  </div>
  
  <a class="gototop" href="#"><i class="fa fa-angle-up"></i></a>
</body>
</html>