<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <title>퍼블리셔 조아라 포트폴리오</title>
  <script src="../js/jquery-3.5.1.min.js"></script>
  <!-- Slick.js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- Sliding jQuery -->
  <script src="../js/custom.js"></script>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../responsive.css">
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a class="before-btn" href="../index.html#work"><i class="fa fa-angle-up"></i></a>
      </nav>
    </header>
    
    <section class="work-detail" id="lotte">
      <div class="inner">
        <div class="detail-content">
            <h2>롯데인터넷면세점</h2>
            <h5>롯데인터넷면세점 이벤트페이지</h5>
            <ul>
                <li>2019.01 - 2020.09 이벤트 페이지 퍼블리싱</li>
                <li>롯데인터넷면세점 국문,영문,일문,중문,중문(번체) 홈페이지에서 혜택과 행사 홈페이지의 웹과 웹앱의 퍼블리싱 유지보수 작업.</li>
            </ul>
            <a class="btn-explore" href="https://kor.lottedfs.com/kr" target="_blank">GO TO SITE<img src="../images/icon-arrow.png"></a>
            <div id="lotte-content" class="img-wrap"></div>
        </div>
      </div>
    </section>

    <footer>
      <div class="inner">
        <div class="footer-content">
          <span>Copyright ©  2023 CodingWorks. All rights reserved.</span>
        </div>
      </div>
    </footer>
  </div>
  
  <a class="gototop" href="#"><i class="fa fa-angle-up"></i></a>
</body>
</html>